@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.main-container {
    background-color: #f5f7fa;
    text-align: center;
}

.main-heading {
    color: Red;

    font-family: "Roboto";
    font-weight: bold;

}

.image1 {
    width: 70px;
    height: 120px;
}

.button {
    color: violet;
    border-color: #ff9f00;
    border-style: solid;
    border-width: 2px;
    font-size: 15px;
}

.button2 {
    color: blue;
    border-color: orange;
    border-style: solid;
    border-width: 2px;
    font-size: 15px;
}

.image {
    width: 100%;
    padding: 10px;
}